@import '../global/_global_styles';

body nav ul a.tel,
body footer .tel {
    height: 30px;
}

main {
    section {
        position: relative;

        img {
            max-width: 100%;

        }

        div.title_gallery {
            font-family: proxima-nova, sans-serif;
            font-weight: 700;
            position: absolute;
            background: $blue;
            height: 70px;
            color: white;
            text-transform: uppercase;
            padding: 10px 20px;
            font-size: 16px;
            bottom: 0;
            left: 0;
            width: 100%;
            line-height: 50px;
        }


        &.gallery {
            opacity: 0;
            z-index: 0;

            position: relative;
            background: white;
            border: 1px solid $grey;
            position: absolute;
            top: -1100px;
            padding: 15px;
            width: 90%;
            -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.07);


            .close {
                max-width: 20px;
                float: right;
                margin: 5px;
                margin-left: 90%;

            }

            .before_after {
                max-width: 88%;
                margin: 20px auto;
            }

            p {
                margin: 20px 0;
                line-height: 25px;
            }

            .images {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 88%;
                margin: 0 auto;

                &.desktop {
                    display: none
                }

                .imgContainer {
                    max-width: 48%;

                    height: auto;
                    margin: 10px 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media (min-width:700px) {
    main {

        .menu {
            display: flex;
            justify-content: space-between;
            max-height: 90vh;
            width: 85%;
            margin: auto;

            section {
                width: 40%;

                img {
                    min-height: 100%;
                }

            }

            .flex {
                display: flex;
                justify-content: space-between;
                width: 58%;
                flex-wrap: wrap;


                section {
                    width: 49%;

                    &:first-of-type {
                        width: 100%;
                        max-height: 55%;
                        overflow: hidden;
                    }

                }
            }
        }

        section {

            &.gallery {
                position: static;
                width: 85%;
                border: none;
                margin: 50px auto 0;
                box-shadow: none;
                min-height: 800px;

                opacity: 1;
                z-index: 10;

                .close {
                    display: none;
                }

                .align_left {
                    max-width: 40%;
                    margin-right: 20px;
                    float: left;
                }



                .before_after {
                    max-width: 60%;
                    margin: 20px;
                    max-height: 520px;
                    overflow: hidden;
                }


                .images {
                    &.mobile {
                        display: none;
                    }

                    &.desktop {
                        display: flex;
                    }

                    max-width: 100%;

                }




            }
        }
    }

}
