$blue: #0B449A;
$green:#7ac931;
$grey: #7c7e7d;
$lightgrey: #F4F4F4;

@font-face {
    font-family: 'league_spartanbold';
    src: url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
        url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;


    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }



    h1 {
        font-family: 'league_spartanbold', sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        color: $blue;

        &.capitalized {
            text-transform: capitalize;

        }
    }

    h2 {
        margin: 10px 0;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        color: $blue;
        font-size: 25px;
        line-height: 50px;



    }


    h5 {
        color: white;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        font-size: 16px;
        height: 40px;
        padding: 15px 0;
        line-height: 40px;
    }

    a {
        text-decoration-line: none;
        font-family: proxima-nova, sans-serif;
        font-weight: 500;
    }

    p {
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: $grey;
        margin: 20px 0;
        line-height: 25px;
    }

    button {
        border-radius: 5px;
        height: 43px;
        font-family: proxima-nova, sans-serif;
        font-weight: 500;
        border: solid 1px;
        text-align: center;
        min-width: 120px;
        font-size: 20px;
        padding: 5px 15px;
        margin: 15px 0;
        -webkit-appearance: unset;
        cursor: pointer;



        &.green {
            background: $green;
            color: white;
            border: none;

        }

        &.blue {
            color: $blue;
            background: white;
            border-color: $blue;
        }


    }

    nav {
        position: fixed;
        top: 0;
        height: 70px;
        color: white;
        background: $blue;
        width: 100%;
        z-index: 100;

        a.logo-link {
            width: 50px;
            height: 50px;
            margin: 0;

            .logo {
                width: 50px;
                height: 50px;
                margin: 9px 13px;
            }
        }

        ul {
            height: 0;
            margin: -3px 0;
            padding: 0px 0;
            background: $blue;
            width: 100%;
            text-align: center;
            overflow: hidden;

            a {
                text-decoration-line: none;

                li {
                    font-family: proxima-nova, sans-serif;
                    font-weight: 500;

                    color: white;

                    height: 45px;

                    list-style-type: none;

                    &:hover,
                    &.active {
                        text-decoration: underline;
                        text-underline-position: under;
                    }


                }
            }

        }

        .burger {
            width: 30px;
            height: 30px;
            margin: 10px;
            position: absolute;
            top: 10px;
            right: 10px;


        }


    }

    main {
        width: 90%;
        margin: 80px auto;

        section {
            margin: 10px 0;

            .title {
                background: $blue;
                color: white;
                text-align: center;
                width: 110%;
                margin: 15px auto;
                margin-left: -5%;
                height: 70px;

            }

            &.services {
                .modal {
                    position: relative;
                    background: white;
                    border: 1px solid $grey;
                    position: absolute;
                    top: 100px;
                    padding: 15px;
                    width: 90%;
                    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
                    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.07);
                    opacity: 0;
                    z-index: -1;

                    .close {
                        max-width: 20px;
                        float: right;
                        margin: 5px;
                        margin-left: 90%;

                    }

                    p {
                        max-width: 400px;
                        margin-bottom: 20px;
                    }

                    ul {
                        padding-left: 25px;
                        margin: 10px;

                        li {
                            color: $grey;
                            list-style-image: url('./img/close.svg')
                        }
                    }

                    .images {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .imgContainer {
                            max-width: 48%;
                            height: 100%;

                            img {
                                width: 100%;


                            }
                        }
                    }

                }
            }
        }


    }

    footer {
        background: $blue;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 100px;
        padding-top: 25px;


        .tel {
            border-radius: 5px;
            background: white;
            color: $blue;
            height: 20px;
            padding: 5px 10px;
            margin: 0 10px;

        }

        a img {
            margin: 0 10px;
            max-height: 26px;
        }

        .copyright {
            font-family: proxima-nova, sans-serif;
            font-weight: 300;
            font-size: 10px;
            line-height: 30px;
            display: block;
            text-align: center;
            width: 100%;


        }
    }

}


@media (min-width:600px) {


    body {
        margin-top: 100px;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        h5 {
            font-size: 28px;
        }

        .desktop {
            display: block;
        }

        nav {
            position: fixed;
            top: 0;
            height: 70px;
            color: white;
            background: $blue;
            width: 100%;
            z-index: 10;



            ul {
                height: 70px;
                display: flex;
                justify-content: space-around;
                width: 60%;
                z-index: 100;
                position: absolute;
                top: 0;
                right: 0;
                line-height: 70px;
                min-width: 530px;

                a {
                    text-decoration-line: none;

                    &.tel {
                        border-radius: 5px;
                        background: white;
                        color: $blue;
                        height: 20px;
                        padding: 5px 10px;
                        margin: 20px 10px;
                        line-height: 20px;
                        text-align: center;

                    }


                }

            }

            .burger {
                display: none;
                pointer-events: none;
            }


        }



    }

}

@media (min-width:700px) {
    body main {
        width: 85%;
        max-width: 1300px;

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        section.services {
            .modal {
                position: absolute;
                padding: 35px;
                display: flex;
                justify-content: space-around;

                flex-wrap: wrap;
                min-height: 68%;

                .close {

                    width: 100%;

                }

                .textContent {
                    max-width: 50%;

                }



                .images {
                    width: 45%;

                    .imgContainer {
                        max-width: 48%;
                        height: auto;

                        img {
                            width: 100%;


                        }
                    }
                }

            }
        }
    }
}
