@font-face {
  font-family: 'league_spartanbold';
  src: url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 15, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
* {
  margin: 0;
  padding: 0; }

/* line 20, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300; }
  /* line 27, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body .desktop {
    display: none; }
  /* line 31, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body .mobile {
    display: block; }
  /* line 37, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h1 {
    font-family: 'league_spartanbold', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #0B449A; }
    /* line 43, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body h1.capitalized {
      text-transform: capitalize; }
  /* line 49, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h2 {
    margin: 10px 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    color: #0B449A;
    font-size: 25px;
    line-height: 50px; }
  /* line 62, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h5 {
    color: white;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 40px;
    padding: 15px 0;
    line-height: 40px; }
  /* line 72, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body a {
    text-decoration-line: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 500; }
  /* line 78, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body p {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #7c7e7d;
    margin: 20px 0;
    line-height: 25px; }
  /* line 87, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body button {
    border-radius: 5px;
    height: 43px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    border: solid 1px;
    text-align: center;
    min-width: 120px;
    font-size: 20px;
    padding: 5px 15px;
    margin: 15px 0;
    -webkit-appearance: unset;
    cursor: pointer; }
    /* line 103, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body button.green {
      background: #7ac931;
      color: white;
      border: none; }
    /* line 110, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body button.blue {
      color: #0B449A;
      background: white;
      border-color: #0B449A; }
  /* line 119, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body nav {
    position: fixed;
    top: 0;
    height: 70px;
    color: white;
    background: #0B449A;
    width: 100%;
    z-index: 100; }
    /* line 128, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav a.logo-link {
      width: 50px;
      height: 50px;
      margin: 0; }
      /* line 133, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav a.logo-link .logo {
        width: 50px;
        height: 50px;
        margin: 9px 13px; }
    /* line 140, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav ul {
      height: 0;
      margin: -3px 0;
      padding: 0px 0;
      background: #0B449A;
      width: 100%;
      text-align: center;
      overflow: hidden; }
      /* line 149, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav ul a {
        text-decoration-line: none; }
        /* line 152, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body nav ul a li {
          font-family: proxima-nova, sans-serif;
          font-weight: 500;
          color: white;
          height: 45px;
          list-style-type: none; }
          /* line 162, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body nav ul a li:hover, body nav ul a li.active {
            text-decoration: underline;
            text-underline-position: under; }
    /* line 174, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav .burger {
      width: 30px;
      height: 30px;
      margin: 10px;
      position: absolute;
      top: 10px;
      right: 10px; }
  /* line 188, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body main {
    width: 90%;
    margin: 80px auto; }
    /* line 192, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main section {
      margin: 10px 0; }
      /* line 195, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section .title {
        background: #0B449A;
        color: white;
        text-align: center;
        width: 110%;
        margin: 15px auto;
        margin-left: -5%;
        height: 70px; }
      /* line 207, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal {
        position: relative;
        background: white;
        border: 1px solid #7c7e7d;
        position: absolute;
        top: 100px;
        padding: 15px;
        width: 90%;
        -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.07);
        opacity: 0;
        z-index: -1; }
        /* line 221, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .close {
          max-width: 20px;
          float: right;
          margin: 5px;
          margin-left: 90%; }
        /* line 229, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal p {
          max-width: 400px;
          margin-bottom: 20px; }
        /* line 234, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal ul {
          padding-left: 25px;
          margin: 10px; }
          /* line 238, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal ul li {
            color: #7c7e7d;
            list-style-image: url("./img/close.svg"); }
        /* line 244, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .images {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          /* line 249, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal .images .imgContainer {
            max-width: 48%;
            height: 100%; }
            /* line 253, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
            body main section.services .modal .images .imgContainer img {
              width: 100%; }
  /* line 268, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body footer {
    background: #0B449A;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 25px; }
    /* line 278, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer .tel {
      border-radius: 5px;
      background: white;
      color: #0B449A;
      height: 20px;
      padding: 5px 10px;
      margin: 0 10px; }
    /* line 288, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer a img {
      margin: 0 10px;
      max-height: 26px; }
    /* line 293, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer .copyright {
      font-family: proxima-nova, sans-serif;
      font-weight: 300;
      font-size: 10px;
      line-height: 30px;
      display: block;
      text-align: center;
      width: 100%; }

@media (min-width: 600px) {
  /* line 312, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body {
    margin-top: 100px; }
    /* line 315, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body h1 {
      font-size: 40px; }
    /* line 319, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body h2 {
      font-size: 30px; }
    /* line 323, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body h5 {
      font-size: 28px; }
    /* line 327, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body .desktop {
      display: block; }
    /* line 331, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav {
      position: fixed;
      top: 0;
      height: 70px;
      color: white;
      background: #0B449A;
      width: 100%;
      z-index: 10; }
      /* line 342, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav ul {
        height: 70px;
        display: flex;
        justify-content: space-around;
        width: 60%;
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 70px;
        min-width: 530px; }
        /* line 354, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body nav ul a {
          text-decoration-line: none; }
          /* line 357, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body nav ul a.tel {
            border-radius: 5px;
            background: white;
            color: #0B449A;
            height: 20px;
            padding: 5px 10px;
            margin: 20px 10px;
            line-height: 20px;
            text-align: center; }
      /* line 374, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav .burger {
        display: none;
        pointer-events: none; } }

@media (min-width: 700px) {
  /* line 389, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body main {
    width: 85%;
    max-width: 1300px; }
    /* line 393, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main .desktop {
      display: block; }
    /* line 397, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main .mobile {
      display: none; }
    /* line 402, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main section.services .modal {
      position: absolute;
      padding: 35px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      min-height: 68%; }
      /* line 411, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .close {
        width: 100%; }
      /* line 417, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .textContent {
        max-width: 50%; }
      /* line 424, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .images {
        width: 45%; }
        /* line 427, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .images .imgContainer {
          max-width: 48%;
          height: auto; }
          /* line 431, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal .images .imgContainer img {
            width: 100%; } }

/* line 8, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section .title {
  line-height: 70px; }

/* line 15, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.story img {
  max-width: 100%; }

/* line 21, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery h2 {
  line-height: 35px; }

/* line 25, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery p {
  margin: 15px 0; }

/* line 29, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery a.toGallery {
  display: block;
  height: auto;
  position: relative; }
  /* line 34, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery img {
    max-width: 100%;
    cursor: pointer; }
  /* line 39, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery span {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
    color: white;
    font-weight: bold;
    font-size: 17px; }
    /* line 48, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery span img {
      margin-left: 10px; }

/* line 57, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.reviews .carousel {
  display: flex;
  width: 100%; }
  /* line 61, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel button {
    background: #7ac931;
    width: 40px;
    height: 40px;
    color: white;
    min-width: 40px;
    z-index: 1; }
    /* line 69, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button.slick-prev {
      left: -15px; }
    /* line 73, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button.slick-next {
      right: 5px; }
  /* line 78, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel .review {
    background: #F4F4F4;
    font-weight: 100;
    width: 100%;
    opacity: .6;
    padding: 25px;
    line-height: 20px; }
    /* line 87, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review.slick-current {
      width: 110%;
      opacity: 1; }
    /* line 92, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review p {
      color: #0B449A;
      font-weight: 300; }
    /* line 98, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review h6 {
      color: #0B449A;
      text-align: center;
      font-size: 18px;
      letter-spacing: .5px;
      margin: 10px auto; }

/* line 115, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.contact .contact-info {
  display: flex;
  justify-content: space-between; }
  /* line 119, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-info .imgContainer {
    max-width: 50%;
    height: auto; }
    /* line 123, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-info .imgContainer img {
      width: 100%; }
  /* line 128, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-info .info {
    width: 45%; }

/* line 134, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.contact .contact-options {
  max-width: 500px; }
  /* line 137, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-options div {
    display: flex;
    min-height: 40px;
    justify-content: space-between; }
    /* line 144, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div a button {
      height: 35px; }
    /* line 148, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div p {
      line-height: 25px; }
    /* line 152, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div.mail {
      flex-wrap: wrap; }
      /* line 155, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-options div.mail p {
        width: 100%; }

@media (min-width: 600px) {
  /* line 170, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section .mobile {
    display: none; }
  /* line 177, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story h1 {
    text-align: center; }
  /* line 181, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story div .logo {
    max-width: 170px;
    margin: auto; }
  /* line 186, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story h2 {
    line-height: 35px;
    text-align: center; }
  /* line 191, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story .imgContainer {
    display: none; }
  /* line 197, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story button {
    margin-top: 10%;
    float: right; }
  /* line 202, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story a {
    display: block;
    height: 60px; }
  /* line 209, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery h2 {
    max-width: 600px;
    margin: 50px auto 30px;
    text-align-last: center; }
  /* line 215, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery .flex {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto; }
    /* line 221, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery .flex p {
      margin: 30px 20px; }
  /* line 226, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery {
    display: flex;
    height: 30vw;
    max-height: 310px; }
    /* line 231, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .kitchen {
      width: 70%;
      margin-right: 1%; }
    /* line 236, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .bedroom {
      width: 30%; }
  /* line 244, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel {
    display: flex;
    width: 60%;
    margin: 35px auto; }
    /* line 249, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button {
      background: #7ac931;
      width: 40px;
      height: 40px;
      color: white;
      min-width: 40px;
      z-index: 1; }
      /* line 257, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel button.slick-prev {
        left: -15px; }
        /* line 261, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.reviews .carousel button.slick-prev:hover:before {
          opacity: .75; }
      /* line 268, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel button.slick-next {
        right: 5px; }
        /* line 272, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.reviews .carousel button.slick-next:hover:before {
          opacity: .75; }
    /* line 280, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .slick-prev:before,
    body main section.reviews .carousel .slick-next:before {
      opacity: 1; }
    /* line 286, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review {
      min-height: 300px;
      background: #F4F4F4;
      font-family: proxima-nova, sans-serif;
      width: 50%;
      opacity: .6;
      padding: 80px 10px 0;
      margin: 25px auto;
      text-align: center; }
      /* line 296, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review p {
        font-weight: 300;
        line-height: 30px; }
      /* line 304, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review.slick-current {
        width: 110%;
        opacity: 1;
        height: 350px;
        margin: 0 auto; }
      /* line 314, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review p {
        color: #0B449A; }
      /* line 319, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review h6 {
        color: #0B449A;
        text-align: center;
        font-size: 18px;
        letter-spacing: .5px;
        margin: 30px auto; } }

@media (min-width: 800px) {
  /* line 341, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story {
    display: flex;
    justify-content: space-between; }
    /* line 346, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story .imgContainer {
      display: flex;
      justify-content: center;
      margin-right: 5%;
      overflow: hidden;
      width: 216%;
      max-height: 60vh;
      max-width: 550px;
      /* width: 60vw; */
      min-height: 327px;
      min-width: 440px; }
      /* line 358, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.story .imgContainer img {
        max-width: 150%;
        max-height: 100%;
        width: auto; }
    /* line 368, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story button {
      margin-top: 10%;
      float: right; }
    /* line 373, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story a {
      display: block;
      height: 60px; }
  /* line 382, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery {
    max-width: 1000px;
    margin: auto;
    display: flex;
    height: 35vh; }
    /* line 388, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .kitchen {
      width: 70%; }
    /* line 392, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .bedroom {
      width: 30%; }
  /* line 398, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact {
    position: relative; }
    /* line 401, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-info {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: auto; }
      /* line 407, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .imgContainer {
        max-width: 50%;
        height: auto;
        text-align: right; }
        /* line 413, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .imgContainer img {
          width: 100%;
          max-with: 350px; }
      /* line 419, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .info {
        width: 45%; }
      /* line 427, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .contact-options .call,
      body main section.contact .contact-info .contact-options .mail {
        display: flex;
        justify-content: flex-start; }
        /* line 432, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .contact-options .call a,
        body main section.contact .contact-info .contact-options .mail a {
          margin-right: 20px; }
        /* line 436, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .contact-options .call p,
        body main section.contact .contact-info .contact-options .mail p {
          width: 50%; } }

/*# sourceMappingURL=about.css.map */
