@font-face {
  font-family: 'league_spartanbold';
  src: url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 15, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
* {
  margin: 0;
  padding: 0; }

/* line 20, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
body {
  font-family: sans-serif; }
  /* line 23, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body .desktop {
    display: none; }
  /* line 27, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body .mobile {
    display: block; }
  /* line 33, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h1 {
    font-family: 'league_spartanbold', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #0B449A; }
    /* line 39, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body h1.capitalized {
      text-transform: capitalize; }
  /* line 45, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h2 {
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: 100;
    color: #0B449A;
    font-size: 25px;
    line-height: 50px; }
  /* line 58, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h5 {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    height: 40px;
    padding: 15px 0;
    line-height: 40px; }
  /* line 68, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body a {
    text-decoration-line: none; }
  /* line 72, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body p {
    font-size: 16px;
    color: #7c7e7d; }
  /* line 77, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body button {
    border-radius: 5px;
    height: 43px;
    font-family: sans-serif;
    font-weight: 100;
    border: solid 1px;
    text-align: center;
    min-width: 120px;
    font-size: 20px;
    padding: 5px 15px;
    margin: 15px 0;
    -webkit-appearance: unset;
    cursor: pointer; }
    /* line 93, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body button.green {
      background: #7ac931;
      color: white;
      border: none; }
    /* line 100, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body button.blue {
      color: #0B449A;
      background: white;
      border-color: #0B449A; }
  /* line 109, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body nav {
    position: fixed;
    top: 0;
    height: 70px;
    color: white;
    background: #0B449A;
    width: 100%;
    z-index: 100; }
    /* line 118, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav a.logo-link {
      width: 60px;
      height: 60px;
      margin: 0; }
      /* line 123, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav a.logo-link .logo {
        width: 60px;
        height: 60px;
        margin: 4px 8px; }
    /* line 130, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav ul {
      height: 0;
      margin: -3px 0;
      padding: 0px 0;
      background: #0B449A;
      width: 100%;
      text-align: center;
      overflow: hidden; }
      /* line 139, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav ul a {
        text-decoration-line: none; }
        /* line 142, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body nav ul a li {
          color: white;
          height: 45px;
          list-style-type: none; }
          /* line 151, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body nav ul a li:hover, body nav ul a li.active {
            text-decoration: underline;
            text-underline-position: under; }
    /* line 163, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav .burger {
      width: 30px;
      height: 30px;
      margin: 10px;
      position: absolute;
      top: 10px;
      right: 10px; }
  /* line 177, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body main {
    width: 90%;
    margin: 100px auto; }
    /* line 181, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main section {
      margin: 10px 0; }
      /* line 184, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section .title {
        background: #0B449A;
        color: white;
        text-align: center;
        width: 110%;
        margin: 15px auto;
        margin-left: -5%;
        height: 70px; }
      /* line 196, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal {
        position: relative;
        background: white;
        border: 1px solid #7c7e7d;
        position: absolute;
        top: 100px;
        padding: 15px;
        width: 90%;
        -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.07);
        opacity: 0;
        z-index: -1; }
        /* line 210, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .close {
          max-width: 20px;
          float: right;
          margin: 5px;
          margin-left: 90%; }
        /* line 219, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal ul {
          padding-left: 25px;
          margin: 10px; }
          /* line 223, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal ul li {
            color: #7c7e7d;
            list-style-image: url("./img/close.svg"); }
        /* line 229, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .images {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          /* line 234, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal .images .imgContainer {
            max-width: 48%;
            height: 100%; }
            /* line 238, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
            body main section.services .modal .images .imgContainer img {
              width: 100%; }
  /* line 253, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body footer {
    background: #0B449A;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 25px; }
    /* line 263, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer .tel {
      border-radius: 5px;
      background: white;
      color: #0B449A;
      height: 20px;
      padding: 5px 10px;
      margin: 0 10px; }
    /* line 273, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer a img {
      margin: 0 10px; }
    /* line 277, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body footer .copyright {
      font-family: sans-serif;
      font-weight: 100;
      font-size: 10px; }

@media (min-width: 600px) {
  /* line 289, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h1 {
    font-size: 40px; }
  /* line 293, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h2 {
    font-size: 30px; }
  /* line 297, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body h5 {
    font-size: 28px; }
  /* line 301, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body .desktop {
    display: block; }
  /* line 305, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body nav {
    position: fixed;
    top: 0;
    height: 70px;
    color: white;
    background: #0B449A;
    width: 100%;
    z-index: 10; }
    /* line 314, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav a.logo-link {
      width: 60px;
      height: 60px;
      margin: 0; }
      /* line 319, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav a.logo-link .logo {
        width: 60px;
        height: 60px;
        margin: 4px 8px; }
    /* line 326, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav ul {
      height: 70px;
      display: flex;
      justify-content: space-around;
      width: 60%;
      z-index: 100;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 70px;
      min-width: 530px; }
      /* line 338, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body nav ul a {
        text-decoration-line: none; }
        /* line 341, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body nav ul a.tel {
          border-radius: 5px;
          background: white;
          color: #0B449A;
          height: 20px;
          padding: 5px 10px;
          margin: 20px 10px;
          line-height: 20px; }
    /* line 357, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body nav .burger {
      display: none;
      pointer-events: none; } }

@media (min-width: 700px) {
  /* line 372, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
  body main {
    max-width: 1300px; }
    /* line 375, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main .desktop {
      display: block; }
    /* line 379, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main .mobile {
      display: none; }
    /* line 384, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
    body main section.services .modal {
      position: absolute;
      padding: 35px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      min-height: 68%; }
      /* line 393, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .close {
        width: 100%; }
      /* line 399, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .textContent {
        max-width: 50%; }
      /* line 406, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
      body main section.services .modal .images {
        width: 45%; }
        /* line 409, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
        body main section.services .modal .images .imgContainer {
          max-width: 48%;
          height: auto; }
          /* line 413, /Users/giadaferrari/Desktop/rock_solid/css/global/_global_styles.scss */
          body main section.services .modal .images .imgContainer img {
            width: 100%; } }

/* line 8, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section .title {
  line-height: 70px; }

/* line 15, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.story img {
  max-width: 100%; }

/* line 21, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery h2 {
  line-height: 35px; }

/* line 25, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery p {
  margin: 15px 0; }

/* line 29, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.toGallery a.toGallery {
  display: block;
  height: auto;
  position: relative; }
  /* line 34, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery img {
    max-width: 100%;
    cursor: pointer; }
  /* line 39, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery span {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
    color: white;
    font-weight: bold;
    font-size: 17px; }
    /* line 48, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery span img {
      margin-left: 10px; }

/* line 57, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.reviews .carousel {
  display: flex;
  width: 100%; }
  /* line 61, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel button {
    background: #7ac931;
    width: 40px;
    height: 40px;
    color: white;
    min-width: 40px;
    z-index: 1; }
    /* line 69, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button.slick-prev {
      left: -15px; }
    /* line 73, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button.slick-next {
      right: 5px; }
  /* line 78, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel .review {
    background: #F4F4F4;
    font-weight: 100;
    width: 100%;
    opacity: .6;
    padding: 25px;
    line-height: 20px; }
    /* line 87, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review.slick-current {
      width: 110%;
      opacity: 1; }
    /* line 92, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review p {
      color: #0B449A; }
    /* line 97, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review h6 {
      color: #0B449A;
      text-align: center;
      font-size: 18px;
      letter-spacing: .5px;
      margin: 10px auto; }

/* line 114, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.contact .contact-info {
  display: flex;
  justify-content: space-between; }
  /* line 118, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-info .imgContainer {
    max-width: 50%;
    height: auto; }
    /* line 122, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-info .imgContainer img {
      width: 100%; }
  /* line 127, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-info .info {
    width: 45%; }

/* line 133, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
body main section.contact .contact-options {
  max-width: 500px; }
  /* line 136, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact .contact-options div {
    display: flex;
    min-height: 40px;
    justify-content: space-between; }
    /* line 143, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div a button {
      height: 35px; }
    /* line 147, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div p {
      line-height: 65px; }
    /* line 151, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-options div.mail {
      flex-wrap: wrap; }
      /* line 154, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-options div.mail p {
        width: 100%; }

@media (min-width: 600px) {
  /* line 169, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section .mobile {
    display: none; }
  /* line 177, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story div .logo {
    max-width: 170px;
    margin: auto; }
  /* line 182, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story h2 {
    line-height: 35px; }
  /* line 186, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story .imgContainer {
    display: none; }
  /* line 192, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story button {
    margin-top: 10%;
    float: right; }
  /* line 197, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story a {
    display: block;
    height: 60px; }
  /* line 204, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery h2 {
    max-width: 60%;
    margin: 20px auto;
    text-align-last: center; }
  /* line 210, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery .flex {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto; }
    /* line 216, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery .flex p {
      margin: 30px 20px; }
  /* line 221, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery {
    display: flex;
    height: 30vw;
    max-height: 310px; }
    /* line 226, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .kitchen {
      width: 70%; }
    /* line 230, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .bedroom {
      width: 30%; }
  /* line 238, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.reviews .carousel {
    display: flex;
    width: 60%;
    margin: 35px auto; }
    /* line 243, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel button {
      background: #7ac931;
      width: 40px;
      height: 40px;
      color: white;
      min-width: 40px;
      z-index: 1; }
      /* line 251, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel button.slick-prev {
        left: -15px; }
      /* line 255, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel button.slick-next {
        right: 5px; }
    /* line 260, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.reviews .carousel .review {
      min-height: 300px;
      background: #F4F4F4;
      font-weight: 100;
      width: 50%;
      opacity: .6;
      padding: 80px 25px 0;
      line-height: 30px;
      margin: 25px auto;
      text-align: center; }
      /* line 272, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review.slick-current {
        width: 110%;
        opacity: 1;
        height: 350px;
        margin: 0 auto; }
      /* line 279, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review p {
        color: #0B449A; }
      /* line 284, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.reviews .carousel .review h6 {
        color: #0B449A;
        text-align: center;
        font-size: 18px;
        letter-spacing: .5px;
        margin: 30px auto; } }

@media (min-width: 800px) {
  /* line 306, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.story {
    display: flex;
    justify-content: space-between; }
    /* line 311, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story .imgContainer {
      display: flex;
      justify-content: center;
      margin-right: 5%;
      overflow: hidden;
      width: 216%;
      max-height: 60vh;
      max-width: 550px;
      /* width: 60vw; */
      min-height: 327px;
      min-width: 440px; }
      /* line 323, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.story .imgContainer img {
        max-width: 150%;
        max-height: 100%;
        width: auto; }
    /* line 333, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story button {
      margin-top: 10%;
      float: right; }
    /* line 338, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.story a {
      display: block;
      height: 60px; }
  /* line 347, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.toGallery a.toGallery {
    max-width: 1000px;
    margin: auto;
    display: flex;
    height: 35vh; }
    /* line 353, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .kitchen {
      width: 70%; }
    /* line 357, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.toGallery a.toGallery .bedroom {
      width: 30%; }
  /* line 363, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
  body main section.contact {
    position: relative; }
    /* line 366, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
    body main section.contact .contact-info {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: auto; }
      /* line 372, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .imgContainer {
        max-width: 50%;
        height: auto;
        text-align: right; }
        /* line 378, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .imgContainer img {
          width: 100%;
          max-with: 350px; }
      /* line 384, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .info {
        width: 45%; }
      /* line 392, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
      body main section.contact .contact-info .contact-options .call,
      body main section.contact .contact-info .contact-options .mail {
        display: flex;
        justify-content: flex-start; }
        /* line 397, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .contact-options .call a,
        body main section.contact .contact-info .contact-options .mail a {
          margin-right: 20px; }
        /* line 401, /Users/giadaferrari/Desktop/rock_solid/css/about/about.scss */
        body main section.contact .contact-info .contact-options .call p,
        body main section.contact .contact-info .contact-options .mail p {
          width: 50%; } }

/*# sourceMappingURL=about.css.map */
